* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 20px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

header {
    text-align: center;
    padding: 20px;
    border-bottom: 2px;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgb(146, 146, 146);
    margin-bottom: 10px;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.dark-mode {
    width: 50px;
    height: 50px;
    font-size: 26px;
    border: 1px solid var(--text-color);
    border-radius: 50%;
    color: var(--text-color);
    background-color: var(--bg-color);
    cursor: pointer;
    display: block;
}

.search-box {
    display: inline-block;
    padding: 20px;
}

.form-row {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}

.form-row label {
    flex : 0 0 280px;
    text-align: left;
}

.form-row select,
.form-row input[type="text"] {
  flex: 1;
  padding: 6px;
  border: 1px solid #333333;
  background-color: #ffff;
  width: 600px;
}

.btns button {
    background-color: rgb(231, 182, 46);
    border: none;
    width: 300px;
    height: 30px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 5px;}

.btns button:hover {
    background-color: #f7f7f7;
    color: rgb(231, 182, 46);
    border: 2px solid rgb(231, 182, 46);
    transform: scale(1.1);
}

main {
    text-align: center;
    border-radius: 8px;
    box-shadow: 0px 2px 6px rgb(146, 146, 146);
    padding: 20px;
}

.content h2 {
    margin-bottom: 14px;
}

img {
    width: 400px;
    height: 500px;
}

.description p {
    margin-top: 20px;
}

[data-theme="light"] {
	--bg-color: #ececec;
	--text-color: #212121;
}

[data-theme="dark"] {
	--bg-color: #212121;
	--text-color: #ececec;
}

@media only screen and (max-width: 600px) {
    
    img {
        width: 200px;
        height: 300px;
    }

    .form-row {
        display: block;
        align-items: center;
        margin-bottom: 12px;
    }
    
    .form-row select,
    .form-row input[type="text"] {
      flex: 1;
      padding: 6px;
      border: 1px solid #333333;
      background-color: #ffff;
      width: 300px;
      margin-top: 10px;
    }
    
    .btns button {
        background-color: rgb(231, 182, 46);
        border: none;
        width: 300px;
        height: 30px;
        cursor: pointer;
        margin-bottom: 6px;
    }
}

@media only screen and (max-width: 400px) {
    
    .form-row select,
    .form-row input[type="text"] {
      width: 250px;
    }

    .btns button {
        width: 250px;
    }

    .header-top h1 {
        font-size: 24px;
    }
}

@media only screen and (min-width: 700px) {
    
    .form-row select,
    .form-row input[type="text"] {
      width: 360px;
    }

    .btns button {
        width: 250px;
    }
}

@media only screen and (max-width: 340px) {
    
    .form-row select,
    .form-row input[type="text"] {
      width: 200px;
    }

    .btns button {
        width: 200px;
    }

    .header-top h1 {
        font-size: 20px;
    }
}